// OpenSans legacy
@import url(//st.biglion.ru/v3/css/opensans.css);

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin'), local('Raleway-Thin'), url('../../fonts/Raleway/raleway-thin.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('../../fonts/Raleway/raleway-extralight.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light'), local('Raleway-Light'), url('../../fonts/Raleway/raleway-light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), local('Raleway-Regular'), url('../../fonts/Raleway/raleway-regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Medium'), url('../../fonts/Raleway/raleway-medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('../../fonts/Raleway/raleway-semibold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../../fonts/Raleway/raleway-bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('../../fonts/Raleway/raleway-extrabold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black'), local('Raleway-Black'), url('../../fonts/Raleway/raleway-black.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}